Repository dotnet/sign: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

azure-pipelines.client.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          version: 3.1.x
      - task: DotNetCoreCLI@2
        inputs:
          command: pack
          packagesToPack: src/SignClient/SignClient.csproj
  ...

azure-pipelines.server.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Use .NET Core SDK 3.1.x
    inputs:
      version: 3.1.x
  - task: DotNetCoreCLI@2
    displayName: Copy sdk files locally before build
    inputs:
      command: custom
      projects: src/SignService/SignService.csproj
  ...

azure-pipelines.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - powershell: scripts/Install-WindowsSdkISO.ps1 17763
    displayName: Insider SDK
  - task: DotNetCoreCLI@2
    displayName: Copy sdk files locally before build
    inputs:
      command: custom
      projects: src/SignService/SignService.csproj
      custom: msbuild
  ...

add cookie auth
  src/SignService/Authentication/CookieAuthenticationEventsHandler.cs
  src/SignService/Authentication/JwtBearerEventsHandler.cs
  src/SignService/Services/ApplicationConfiguration.cs
  src/SignService/Services/GraphHttpService.cs
  src/SignService/Services/KeyVaultAdminService.cs
  src/SignService/Services/KeyVaultService.cs
  src/SignService/Startup.cs
  src/SignService/Utils/ResourceIds.cs
  src/SignService/appsettings.json
Due: azure-pipelines.server.yml, azure-pipelines.yml

remove old cache
  src/SignService/Models/ADALSessionCache.cs
  src/SignService/Services/GraphHttpService.cs
Due: azure-pipelines.server.yml, azure-pipelines.yml

Update dependencies
  src/Directory.build.props
  src/InstallUtility/InstallUtility.csproj
  src/SignClient/SignClient.csproj
  src/SignService/SignService.csproj
Due: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

Suppress obsolete warnings for ADAL options
  azure-pipelines.client.yml
  azure-pipelines.server.yml
  src/SignService/SignService.csproj
Due: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

Do not require .manifest file to be included in the filter to be signed. Better error message when the manifest file is not found.
  src/SignService/SigningTools/MageSignService.cs
Due: azure-pipelines.server.yml, azure-pipelines.yml

typo
  src/SignService/SigningTools/MageSignService.cs
Due: azure-pipelines.server.yml, azure-pipelines.yml

Create Sjenica1
  Sjenica1
Due: none

update pipeline
  azure-pipelines.yml
Due: none

32 bit for f1 sku
  azure-pipelines.yml
Due: none

condition for deploy
  azure-pipelines.yml
Due: none

Update branch
  .vsts-ci.yml
Due: none

Update YAML.
  .vsts-ci.yml
Due: none

**BYPASS_SECRET_SCANNING**
  .empty
Due: none

Fix bugs
  bootstrap.proj
  src/Sign.CLI/Kernel32.cs
  src/Sign.CLI/Sign.Cli.csproj
  src/Sign.CLI/SignRootCommand.cs
  src/Sign.Core/ServiceProvider.cs
  src/Sign.Core/Sign.Core.csproj
  src/Sign.Core/SignatureProviders/AggregatingSignatureProvider.cs
Due: none

Fix console logging and simplify tools copying
  LICENSE.txt
  SECURITY.md
  azure-pipelines.client.yml
  azure-pipelines.server.yml
  bootstrap.proj
  sign.sln
  src/Sign.CLI/Sign.Cli.csproj
  src/Sign.Core/ServiceProvider.cs
  src/Sign.Core/Sign.Core.csproj
  test/Sign.Core.Test/Sign.Core.Test.csproj
Due: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

Fix build issues
  .gitignore
  .vsts-ci.yml
  LICENSE.txt
  eng/Signing.props
  global.json
  sign.sln
Due: none

Try to fix yaml
  .vsts-ci.yml
  eng/Versions.props
  src/Sign.CLI/Sign.Cli.csproj
  src/Sign.Core/Sign.Core.csproj
Due: none

Update yaml
  .vsts-ci.yml
Due: none

Try to fix build
  .vsts-ci.yml
  test/Sign.Core.Test/Sign.Core.Test.csproj
Due: none

Fix the build (#435)
  .vsts-ci.yml
  eng/Versions.props
  src/Sign.CLI/Sign.Cli.csproj
  src/Sign.Core/Sign.Core.csproj
  test/Sign.Core.Test/Sign.Core.Test.csproj
Due: none

Mark test project as unit test project.
  test/Sign.Cli.Test/Sign.Cli.Test.csproj
Due: none

Improve CLI argument parsing and add tests
  sign.sln
  src/Sign.CLI/SignRootCommand.cs
  src/Sign.Cli/AzureKeyVaultCommand.cs
  src/Sign.Cli/CodeCommand.cs
  src/Sign.Cli/Kernel32.cs
  src/Sign.Cli/Program.cs
  src/Sign.Cli/Sign.Cli.csproj
  src/Sign.Cli/SignCommand.cs
  src/Sign.Core/ISigner.cs
  src/Sign.Core/ServiceProvider.cs
  src/Sign.Core/Signer.cs
  test/Sign.Cli.Test/AzureKeyVaultCommandTests.cs
  test/Sign.Cli.Test/CodeCommandTests.cs
  test/Sign.Cli.Test/Options/BaseDirectoryOptionTests.cs
  test/Sign.Cli.Test/Options/DescriptionOptionTests.cs
  test/Sign.Cli.Test/Options/DescriptionUrlOptionTests.cs
  test/Sign.Cli.Test/Options/DirectoryInfoOptionTests.cs
  test/Sign.Cli.Test/Options/FileDigestOptionTests.cs
  test/Sign.Cli.Test/Options/HashAlgorithmNameOptionTests.cs
  test/Sign.Cli.Test/Options/Int32OptionTests.cs
  test/Sign.Cli.Test/Options/MaxConcurrencyOptionTests.cs
  test/Sign.Cli.Test/Options/NameOptionTests.cs
  test/Sign.Cli.Test/Options/OptionTests.cs
  test/Sign.Cli.Test/Options/OutputOptionTests.cs
  test/Sign.Cli.Test/Options/TimestampDigestOptionTests.cs
  test/Sign.Cli.Test/Options/TimestampUrlOptionTests.cs
  test/Sign.Cli.Test/Options/UriOptionTests.cs
  test/Sign.Cli.Test/Options/VerbosityOptionTests.cs
  test/Sign.Cli.Test/Sign.Cli.Test.csproj
  test/Sign.Cli.Test/SignCommandTests.cs
  test/Sign.Cli.Test/Usings.cs
  test/Sign.Core.Test/ServiceProviderTests.cs
Due: none

Repurpose Name option to PublisherName.
  src/Sign.Cli/AzureKeyVaultCommand.cs
  src/Sign.Cli/CodeCommand.cs
  src/Sign.Core/ISigner.cs
  src/Sign.Core/SignatureProviders/AppInstallerServiceSignatureProvider.cs
  src/Sign.Core/SignatureProviders/AzureSignToolSignatureProvider.cs
  src/Sign.Core/SignatureProviders/ClickOnceSignatureProvider.cs
  src/Sign.Core/SignatureProviders/SignOptions.cs
  src/Sign.Core/SignatureProviders/VsixSignatureProvider.cs
  src/Sign.Core/Signer.cs
  test/Sign.Cli.Test/CodeCommandTests.cs
  test/Sign.Cli.Test/Options/NameOptionTests.cs
  test/Sign.Cli.Test/Options/PublisherNameOptionTests.cs
  test/Sign.Cli.Test/SignCommandTests.cs
Due: none

Improve CLI option parsing and add unit tests (#436)
  sign.sln
  src/Sign.CLI/SignRootCommand.cs
  src/Sign.Cli/AzureKeyVaultCommand.cs
  src/Sign.Cli/CodeCommand.cs
  src/Sign.Cli/Kernel32.cs
  src/Sign.Cli/Program.cs
  src/Sign.Cli/Sign.Cli.csproj
  src/Sign.Cli/SignCommand.cs
  src/Sign.Core/ISigner.cs
  src/Sign.Core/ServiceProvider.cs
  src/Sign.Core/SignatureProviders/AppInstallerServiceSignatureProvider.cs
  src/Sign.Core/SignatureProviders/AzureSignToolSignatureProvider.cs
  src/Sign.Core/SignatureProviders/ClickOnceSignatureProvider.cs
  src/Sign.Core/SignatureProviders/SignOptions.cs
  src/Sign.Core/SignatureProviders/VsixSignatureProvider.cs
  src/Sign.Core/Signer.cs
  test/Sign.Cli.Test/AzureKeyVaultCommandTests.cs
  test/Sign.Cli.Test/CodeCommandTests.cs
  test/Sign.Cli.Test/Options/BaseDirectoryOptionTests.cs
  test/Sign.Cli.Test/Options/DescriptionOptionTests.cs
  test/Sign.Cli.Test/Options/DescriptionUrlOptionTests.cs
  test/Sign.Cli.Test/Options/DirectoryInfoOptionTests.cs
  test/Sign.Cli.Test/Options/FileDigestOptionTests.cs
  test/Sign.Cli.Test/Options/HashAlgorithmNameOptionTests.cs
  test/Sign.Cli.Test/Options/Int32OptionTests.cs
  test/Sign.Cli.Test/Options/MaxConcurrencyOptionTests.cs
  test/Sign.Cli.Test/Options/OptionTests.cs
  test/Sign.Cli.Test/Options/OutputOptionTests.cs
  test/Sign.Cli.Test/Options/PublisherNameOptionTests.cs
  test/Sign.Cli.Test/Options/TimestampDigestOptionTests.cs
  test/Sign.Cli.Test/Options/TimestampUrlOptionTests.cs
  test/Sign.Cli.Test/Options/UriOptionTests.cs
  test/Sign.Cli.Test/Options/VerbosityOptionTests.cs
  test/Sign.Cli.Test/Sign.Cli.Test.csproj
  test/Sign.Cli.Test/SignCommandTests.cs
  test/Sign.Cli.Test/Usings.cs
  test/Sign.Core.Test/ServiceProviderTests.cs
Due: none

Update requested VM ID's
  .vsts-ci.yml
Due: none

Target .NET 6.0
  Directory.Build.props
  global.json
  src/Sign.Core/KeyVault/KeyVaultService.cs
  src/Sign.Core/Resources.Designer.cs
  src/Sign.Core/Resources.resx
  src/Sign.Core/Sign.Core.csproj
  test/Sign.Cli.Test/SignCommandTests.cs
Due: none

Use central package management
  Directory.Build.props
  Directory.Packages.props
  src/Sign.Cli/Sign.Cli.csproj
  src/Sign.Core/Sign.Core.csproj
  test/Sign.Cli.Test/Sign.Cli.Test.csproj
  test/Sign.Core.Test/Sign.Core.Test.csproj
Due: none

Add link to VM names
  .vsts-ci.yml
Due: none

CLI: fix CI build (#440)
  .vsts-ci.yml
Due: none

CLI: target .NET 6.0 (#438)
  Directory.Build.props
  global.json
  src/Sign.Core/KeyVault/KeyVaultService.cs
  src/Sign.Core/Resources.Designer.cs
  src/Sign.Core/Resources.resx
  src/Sign.Core/Sign.Core.csproj
  test/Sign.Cli.Test/SignCommandTests.cs
Due: none

CLI: use central package management (#442)
  Directory.Build.props
  Directory.Packages.props
  src/Sign.Cli/Sign.Cli.csproj
  src/Sign.Core/Sign.Core.csproj
  test/Sign.Cli.Test/Sign.Cli.Test.csproj
  test/Sign.Core.Test/Sign.Core.Test.csproj
Due: none

Update dependencies
  Directory.Packages.props
  src/Sign.Cli/Sign.Cli.csproj
  src/Sign.Core/Sign.Core.csproj
Due: none

CLI: update dependencies (#444)
  Directory.Packages.props
  src/Sign.Cli/Sign.Cli.csproj
  src/Sign.Core/Sign.Core.csproj
Due: none

Create .NET tool package
  Directory.Build.props
  Version.Details.xml
  eng/Versions.props
  src/Sign.Cli/Sign.Cli.csproj
  version.json
Due: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

CLI: create .NET tool package (#446)
  Directory.Build.props
  Version.Details.xml
  eng/Versions.props
  src/Sign.Cli/Sign.Cli.csproj
  version.json
Due: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

Fix bugs and add tests
  src/Sign.Core/ServiceProvider.cs
  src/Sign.Core/SignatureProviders/AggregatingSignatureProvider.cs
  src/Sign.Core/SignatureProviders/AppInstallerServiceSignatureProvider.cs
  test/Sign.Core.Test/Containers/ZipContainerTests.cs
  test/Sign.Core.Test/SignatureProviders/AggregatingSignatureProviderTests.Containers.cs
  test/Sign.Core.Test/SignatureProviders/AggregatingSignatureProviderTests.PortableExecutableFiles.cs
  test/Sign.Core.Test/SignatureProviders/AggregatingSignatureProviderTests.cs
  test/Sign.Core.Test/SignatureProviders/AppInstallerServiceSignatureProviderTests.cs
  test/Sign.Core.Test/SignatureProviders/DistinguishedNameParserTests.cs
  test/Sign.Core.Test/SignatureProviders/VsixSignatureProviderTests.cs
  test/Sign.Core.Test/TestInfrastructure/AggregatingSignatureProviderTest.cs
  test/Sign.Core.Test/TestInfrastructure/ContainerProviderStub.cs
  test/Sign.Core.Test/TestInfrastructure/ContainerSpy.cs
  test/Sign.Core.Test/TestInfrastructure/FileMetadataServiceStub.cs
  test/Sign.Core.Test/TestInfrastructure/SignatureProviderSpy.cs
  test/Sign.Core.Test/TestInfrastructure/TemporaryFile.cs
Due: none

Apply feedback
  .editorconfig
  Directory.Build.targets
  eng/common/internal/Directory.Build.props
  eng/common/internal/Tools.csproj
  src/Sign.Core/Containers/ContainerProvider.cs
  src/Sign.Core/FileList/FileListReader.cs
  src/Sign.Core/FileList/MatcherFactory.cs
  src/Sign.Core/SignatureProviders/AppInstallerServiceSignatureProvider.cs
  src/Sign.Core/SignatureProviders/AzureSignToolSignatureProvider.cs
  src/Sign.Core/SignatureProviders/ClickOnceSignatureProvider.cs
  src/Sign.Core/SignatureProviders/NuGetSignatureProvider.cs
  src/Sign.Core/SignatureProviders/VsixSignatureProvider.cs
  test/Sign.Core.Test/Containers/ContainerProviderTests.cs
  test/Sign.Core.Test/FileList/MatcherFactoryTests.cs
  test/Sign.Core.Test/FileSystem/FileInfoComparerTests.cs
  test/Sign.Core.Test/SignatureProviders/AppInstallerServiceSignatureProviderTests.cs
  test/Sign.Core.Test/SignatureProviders/AzureSignToolSignatureProviderTests.cs
  test/Sign.Core.Test/SignatureProviders/ClickOnceSignatureProviderTests.cs
  test/Sign.Core.Test/SignatureProviders/VsixSignatureProviderTests.cs
Due: azure-pipelines.client.yml, azure-pipelines.server.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines.client.yml: any of: src/SignClient, .editorconfig, azure-pipelines.client.yml, version.json, scripts
  azure-pipelines.server.yml: any of: src/SignService, scripts/Install-WindowsSdkISO.ps1, .editorconfig, azure-pipelines.server.yml, version.json
  azure-pipelines.yml: any of: src/SignService, .editorconfig, azure-pipelines.server.yml, version.json
