Repository dotnet/sign: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.client.yml, azure-pipelines.yml

azure-pipelines.client.yml:

trigger:
  branches:
    include:
      - master
      - rel/*
  paths:
    include:
      - src/SignClient/*
      - .editorconfig
      - azure-pipelines.client.yml
      - version.json
      - scripts/*

pr:
  branches:
    include:
      - master
      - rel/*
  paths:
    include:
      - src/SignClient/*
      - .editorconfig
      - azure-pipelines.client.yml
      - version.json
      - scripts/*

variables: 
  BuildConfiguration: Release
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  TreatWarningsAsErrors: true

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: windows-latest

    steps:
    - task: UseDotNet@2
      inputs:
        version: 3.1.x

    - task: DotNetCoreCLI@2
      inputs:
        command: pack
        packagesToPack: src/SignClient/SignClient.csproj
        packDirectory: $(Build.ArtifactStagingDirectory)\Client
        configuration: $(BuildConfiguration)
      displayName: Build Client

    - publish: $(Build.ArtifactStagingDirectory)\Client
      displayName: Publish build packages
      artifact: BuildPackages

    - publish: scripts
      displayName: Publish signing config
      artifact: config      

- stage: CodeSign
  condition: and(succeeded('Build'), not(eq(variables['build.reason'], 'PullRequest')))
  jobs:
  - deployment: CodeSign
    displayName: Code Signing
    pool:
      vmImage: windows-latest    
    environment: Code Sign - CI
    variables:
    - group: Sign Client Credentials
    strategy:
      runOnce:
        deploy:
          steps: 
          - task: DotNetCoreCLI@2
            inputs:
              command: custom
              custom: tool
              arguments: install --tool-path . SignClient
            displayName: Install SignTool tool

          - pwsh: |
              .\SignClient "Sign" `
              --baseDirectory "$(Pipeline.Workspace)\BuildPackages" `
              --input "**/*.nupkg" `
              --config "$(Pipeline.Workspace)\config\appsettings.json" `
              --filelist "$(Pipeline.Workspace)\config\filelist.txt" `
              --user "$(SignClientUser)" `
              --secret "$(SignClientSecret)" `
              --name "SignClient" `
              --description "SignClient" `
              --descriptionUrl "https://github.com/dotnet/SignService"
            displayName: Sign packages
              
          - publish: $(Pipeline.Workspace)/BuildPackages
            displayName: Publish Signed Packages
            artifact: SignClient

azure-pipelines.yml:

trigger:
  branches:
    include:
      - master
      - rel/*
  paths:
    include:
      - src/SignService/*
      - .editorconfig
      - azure-pipelines.server.yml
      - version.json

pr:
  branches:
    include:
      - master
      - rel/*
  paths:
    include:
      - src/SignService/*
      - .editorconfig
      - azure-pipelines.server.yml
      - version.json

pool:
  vmImage: vs2017-win2016

variables: 
  BuildConfiguration: Release

steps:

- powershell: scripts/Install-WindowsSdkISO.ps1 17763
  displayName: Insider SDK

- task: DotNetCoreCLI@2
  displayName: Copy sdk files locally before build
  inputs:
    command: custom
    projects: src/SignService/SignService.csproj
    custom: msbuild
    arguments: '/p:Configuration=$(BuildConfiguration) /t:PrebuildScript'

- task: DotNetCoreCLI@2
  displayName: Build and Publish
  inputs:
    command: publish
    publishWebProjects: false
    projects: src/SignService/SignService.csproj
    arguments: '-c $(BuildConfiguration) --output $(build.artifactstagingdirectory)\website\'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish SignService Artifact
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)\website
    artifactType: container
    artifactName: SignService

Log exception on merge
  src/SignService/Controllers/KeyVaultController.cs
Due: azure-pipelines.yml

Trim trailing /
  src/SignService/Authentication/JwtBearerEventsHandler.cs
  src/SignService/Services/KeyVaultAdminService.cs
Due: azure-pipelines.yml

Fix path to mage. #219
  azure-pipelines.server.yml
  src/SignService/SigningTools/MageSignService.cs
Due: azure-pipelines.yml

Remove dependency on Application Insights resource
  arm/ArmDeploy/azuredeploy.json
Due: none

Avoid reflection in CryptoConfigShims
  src/SignService/Utils/CryptoConfigShims.cs
Due: azure-pipelines.yml

Update Deployment.md - set new repo name
  docs/Deployment.md
Due: none

Update SignService.csproj
  src/SignService/SignService.csproj
Due: azure-pipelines.yml

Handle older certs with missing ops
  src/SignService/Services/KeyVaultAdminService.cs
  src/SignService/Views/KeyVault/Details.cshtml
Due: azure-pipelines.yml

Change base signing attempt delay to 5 sec
  src/SignService/SigningTools/AzureSignToolSignService.cs
  src/SignService/SigningTools/MageSignService.cs
  src/SignService/SigningTools/NuGetSignService.cs
  src/SignService/SigningTools/VsixSignService.cs
Due: azure-pipelines.yml

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update README.md
  README.md
Due: none

Update NuGet.Config
  NuGet.Config
Due: none

Update to latest 3.1.x packages
  src/SignService/SignService.csproj
Due: azure-pipelines.yml

Update the key size to 4092 to meet upcoming CA baseline requirements
  src/SignService/Services/KeyVaultAdminService.cs
Due: azure-pipelines.yml

style fixes
  src/SignService/Services/GraphHttpService.cs
  src/SignService/Services/KeyVaultAdminService.cs
Due: azure-pipelines.yml

Update deps for client and add 5.0 target
  azure-pipelines.client.yml
  src/SignClient/SignClient.csproj
Due: azure-pipelines.client.yml

Update to reflect main branch name
  azure-pipelines.client.yml
  azure-pipelines.server.yml
  version.json
Due: azure-pipelines.client.yml, azure-pipelines.yml

Fix correct key size
  src/SignService/Services/KeyVaultAdminService.cs
Due: azure-pipelines.yml

Ensure auth context is reused across calls for caching
  src/SignClient/SignCommand.cs
Due: azure-pipelines.client.yml

Enable logging of MSAL traces to aid in debugging.
  src/SignClient/Program.cs
  src/SignClient/SignCommand.cs
Due: azure-pipelines.client.yml

Ensure cache is used for tokens
  src/SignClient/SignCommand.cs
Due: azure-pipelines.client.yml

Update to latest patch
  src/SignService/SignService.csproj
Due: azure-pipelines.yml

remove exception handler
  src/SignService/Startup.cs
Due: azure-pipelines.yml

add clientsecret option check
  src/SignClient/SignCommand.cs
Due: azure-pipelines.client.yml

Use single quotes to prevent escaping issues
  README.md
Due: none

Update json.net
  src/SignService/SignService.csproj
Due: azure-pipelines.yml

Enable common name to be specified
  src/SignService/Controllers/KeyVaultController.cs
  src/SignService/Models/CreateCertificateRequestModel.cs
  src/SignService/Services/KeyVaultAdminService.cs
  src/SignService/Views/KeyVault/CreateCertificate.cshtml
Due: azure-pipelines.yml

Specify EKU and KU
  src/SignService/Services/KeyVaultAdminService.cs
Due: azure-pipelines.yml

Create AutoRestCredential.cs
  src/SignService/Utils/AutoRestCredential.cs
Due: azure-pipelines.yml

add fallback logic for appx tag
  src/SignService/SigningTools/AppInstallerService.cs
Due: azure-pipelines.yml

removed code related to clickonce manifest validation because verification is not part of the signing service.
  src/SignService/Utils/mansign.cs
  src/SignService/Utils/mansign2.cs
Due: azure-pipelines.yml

Update dependencies
  src/Directory.build.props
  src/SignService/SignService.csproj
Due: azure-pipelines.yml

Update deps
  src/SignClient/SignClient.csproj
  src/SignClient/SignCommand.cs
Due: azure-pipelines.client.yml

Suppress the warning for now
  src/SignClient/SignCommand.cs
Due: azure-pipelines.client.yml

Update to .NET 6
  azure-pipelines.client.yml
  azure-pipelines.server.yml
  src/SignService/SignService.csproj
  src/SignService/Utils/mansign.cs
  src/SignService/Utils/mansign2.cs
Due: azure-pipelines.client.yml, azure-pipelines.yml

First pass at moving off of ADAL
  src/SignService/Authentication/CookieAuthenticationEventsHandler.cs
  src/SignService/Authentication/JwtBearerEventsHandler.cs
  src/SignService/Authentication/OpenIdConnectEventsHandler.cs
  src/SignService/Models/ADALSessionCache.cs
  src/SignService/Services/AdminService.cs
  src/SignService/Services/ApplicationConfiguration.cs
  src/SignService/Services/GraphHttpService.cs
  src/SignService/Services/KeyVaultAdminService.cs
  src/SignService/Services/KeyVaultService.cs
  src/SignService/SignService.csproj
  src/SignService/SigningTools/MageSignService.cs
  src/SignService/Startup.cs
  src/SignService/Utils/GraphUserConverter.cs
  src/SignService/appsettings.json
Due: azure-pipelines.yml
